<script>
    function redirectToLoginPage() {
        // Redirect the user to the login page
        window.location.href = '/login';
    }

    function redirectToRegisterPage() {
            // Redirect the user to the register page
            window.location.href = '/register';
        }
</script>
<script src="/javascript/script.js"></script>
</body>

</html>