<footer id="footer">

    <i class="fa-brands fa-twitter fa-2xl"></i>
    <i class="fa-brands fa-facebook fa-2xl"></i>
    <i class="fa-brands fa-square-instagram fa-2xl"></i>
    <i class="fa-solid fa-envelope fa-2xl"></i>
    <p style="height: 2rem; color: beige;">© Copyright 2023 Task Master</p>

</footer>

<!-- common-javascripts -->
<script src="/javascript/script.js"></script>
</body>

</html>