<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css-linking -->

    <link rel="stylesheet" href="/css/pstyles.css">

    <!-- fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=Montserrat:wght@300&family=Roboto+Slab:wght@200;300&family=Sacramento&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Yellowtail&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <!-- bootstrap -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://kit.fontawesome.com/b178273a0d.css" crossorigin="anonymous"> -->
    <!-- <script src="https://kit.fontawesome.com/b178273a0d.js" crossorigin="anonymous"></script> -->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- title -->
    <title>Task Master</title>
</head>

<body style="background-color: black; margin-left: 300px;">
    <!-- <nav class="navbar-custom navbar sticky-top navbar-expand-lg">
        <a class="navbar-brand" href="/" style="padding-left: 1%;">Task Master</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto" style="margin-left: auto;">
                <li class="nav-item item1">
                    <a class="nav-link active item1" aria-current="page" href="/#title">Home</a>
                </li>
                <li class="nav-item item1">
                    <a class="nav-link" href="/#features">Features</a>
                </li>
                <li class="nav-item item1">
                    <a class="nav-link" href="/#about">About Us</a>
                </li>
                <li class="nav-item item1">
                    <a class="nav-link" href="/#footer">Contact Us</a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Log in
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right slideIn">
                        <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav> -->
    <div class="pcontainer">
        <div class="pnavigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"></span>
                        <span class="title" style="    color: rgb(0, 0, 0);text-shadow: 0 0 10px rgb(0, 0, 0);"><h1>Task Master</h1></span>
                    </a>
                </li>
                <li>
                    <a href="/user/profile">
                        <span class="icon"><i class="fa-regular fa-id-badge fticon"></i></span>
                        <span class="title">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard">
                        <span class="icon"><i class="fa-solid fa-table-columns fticon"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/insertnew">
                        <span class="icon"><i class="fa-solid fa-plus fticon"></i></span>
                        <span class="title">Add Tasks</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/completetask">
                        <span class="icon"><i class="fa-regular fa-square-check fticon"></i></span>
                        <span class="title">Completed Tasks</span>
                    </a>
                </li>
                <li><a href="#"
                        onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                        <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket fticon"></i></span>
                        <span class="title">Sign Out</span>
                        <form id="logout-form" method="POST" action="/logout" style="display: none;">
                            <!-- Add any additional hidden form fields if needed -->
                        </form>
                    </a>
                </li>
            </ul>
        </div>
        <!-- main -->
        <div class="pmain">
            <div class="ptopbar">
                <div class="ptoggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>