<%-include("partials/pheader")-%>

    <form action="" method="post">
        <input type="text" name="nameoftask" id="" placeholder="Enter the Task">
        <input type="text" name="category" id="" placeholder="Enter Category">
        <input type="datetime-local" id="" name="endoftask">
        <br><br>
        <button type="submit">ADD TASK</button>
    </form>

<%-include("partials/pfooter")-%>