<%-include("partials/pheader")-%>
    <link rel="stylesheet" href="/css/error.css">
    <br>
    <div class="errorn">
        <% if(error !=undefined) { %>
            <h1>
                <%=error%>
            </h1>
            <h2>Oops ! <%= field %>
            </h2>
            <% } %>
    </div>
<%-include("partials/pferror")-%>