<%-include("partials/header")-%>
    <img src="/images/Task.jpg" alt="Task">
    <br><br>
    <div>
        <a class="button" id="login-button" href="/login">Login</a>
        <a class="button" href="/register">Register</a>
    </div>
<%-include("partials/footer")-%>
