<%-include("partials/header")-%>

</header>
        <div>
            <a class="button" id="login-button" href="/login">Login</a>
            <a class="button" href="/register">Register</a>
        </div>
<%-include("partials/footer")-%>
