<%-include("partials/header")-%>
<div class="container" >
    <br><br>
    <form action="/login" method="post" autocomplete="off">
        <div class="user-details">
            <div class="input-box">
                <span class="details">User Name</span>
                <input type="text" name="username" id="" placeholder="Username">
            </div>
            <div class="input-box">
                <span class="details">Password</span>
                <input type="password" name="password" id="" placeholder="Password">
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
<button onclick="redirectToRegisterPage()">Register</button>
<%-include("partials/footer")-%>