<%-include("partials/header")-%>
<div class="signupform" >
    <br><br>
    <form action="/register" method="post">
        <div class="user-details">
            <div class="input-box">
              <span class="details">User Name</span>
              <input type="text" name="username" id="" placeholder="Enter your Username">
            </div>  
            <div class="input-box">
                <span class="details">Email</span>
                <input type="email" name="email" id="" placeholder="Enter your Email">
            </div>
            <div class="input-box">
                <span class="details">Password</span>
                <input type="password" name="password" id="" placeholder="Enter your Password">
            </div>
        </div>
        <button type="submit">Register</button>
    </form>
    <button onclick="redirectToLoginPage()">Go to login page</button> 
</div>

<%-include("partials/footer")-%>