/******************* navbar *********************/
.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

.navbar {
    /* position: fixed; */
    display: flex;
    z-index: 99;
    background-color: #000000;
}

.navbar .navbar-brand {
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    font-weight: 700;
    width: 40%;
    top: 50%;
    right: auto;
    overflow: hidden;
    animation: animate 3s linear forwards;
}

.navbar .navbar-brand:hover {
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
}

@keyframes animate {
    0% {
        width: 0;
    }

    30% {
        width: 10%;
    }

    60% {
        width: 20%;
    }
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler {
    background-color: black;
}

.navbar .nav-item .nav-link:hover {
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
}

.nav-item .dropdown-menu {
    min-width: 0;
    transition: .5s;
    background: #000000;
}

.nav-item .dropdown-item {
    color: rgb(255, 255, 255);
    font-weight: 500;
}


@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

.navbar-nav .item1 a {
    position: relative;
    display: block;
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar-nav .item1 a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0ef;
    box-shadow: 0 0 1em #0ef;
    transition: 0.5s ease-in-out;
}

.navbar-nav .item1 a:hover::after {
    width: 100%;
}

/******************************** footer **********************************/
.ficon {
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.fa-2xl:hover {
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
}

#footer {
    background: #000000;
    text-align: center;
    padding: 3% 3%;
}

#footer .p {
    color: beige;
}

.fa-2xl {
    color: white;
    text-align: center;
    margin: 5%;
}

html {
    scroll-behavior: smooth;
}